- title "Contact"

= error_messages_for(@contact)

= form_for @contact, :url => contact_mail_path do |form|
  = form.label :name
  = form.text_field :name
  = form.label :email
  = form.text_field :email
  = form.label :message
  = form.text_area :message
  %input{:type => "submit", :value => "Send", :class => "btn"}
